body{
    padding: 0;
    margin: 0;
}

.titleDoc{
    text-align: center;
}
.nameUni{
    margin-bottom: 5%;
}
.title{
    margin-top: 2%;
    text-align: center;
}
.textContent{
    margin-top: 10%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2em;
    text-align: center;
}
.bodyText{
   margin-top: 8%; 
   font-family: Arial, Helvetica, sans-serif;
}
.foot{
    margin: 0;
}   
.foot1{
    font-size: 12px;
}
.margen{
    margin-top: 10%; 
}
.foooter{
    background: url(../);
    width: 100vw;
}
img{
    margin-left: -15%;
    width: 120%;
}
.img1{
    margin-top: -8%;
}
.img2{
    margin-top: 30%;
    width: 100vw;
}
.titleCertificado{
    margin-top: 10%;
    text-align: center;
}
.info{
    margin-top: 6%;
}