.headerIng{
    justify-content: center;
    display: flex;
    box-shadow: 2px 2px 10px grey;
    border-radius: 0px;
    text-transform: uppercase;
  }
.sectionTitulo{
    width: 100%;
    height: 55vh;
    background-image: linear-gradient(90deg, #ffc0cb4b 40%, white), url(../img/historialCertificados.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 2px 2px 3px gray;
    display: inline-block;
}
.sectionTitulo2{
    width: 100%;
    height: 55vh;
    background-image: linear-gradient(90deg, #ffc0cb4b 40%, white), url(../img/perfilAdministrador.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 2px 2px 3px gray;
    display: inline-block;
}
.formsCards{
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px grey;
}
.formsCards h3{
    text-align: center;
    color: #0c243d;
    font-size: 26px;
}
.formsCards label{
    font-size: 20px;
    padding-left: 2%;
}
.formsCards i{
    color: #171616;
}
.divTitulo{
    margin-top: 22vh;
}
.divTitulo2{
    margin-top: 15vh;
}
.contHome{
    height: 49vh;
}
.cardAdmin{
    width: 33vw; 
}
.nav-link:hover{
    background-color: #1b2481;
}
.crd-letter{
    font-size: 0.3rem !important;
}
.modalmask {
    position: fixed;
    font-family: Arial, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(226, 226, 226, 0.603);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalmask:target {
    opacity:1;
    pointer-events: auto;
}
.modalbox{
    width: 50vw;
    position: relative;
    padding: 5% 5%;
    background: #fff;
    border-radius:3px;
    border: 10px solid #06357a;
    text-align: center;
    box-shadow: 1px 1px 30px 1px;
    font-size: 1.2rem;
}
.modalbox h2, .modalbox h5,
.modalbox input{
    width: 38vw;
    margin-left: 1vw;
}
.modalbox h2{
    margin-top: -1.5vh;
}
.botonmodal{
    width: 20vw;
    padding: 10px;
}
.movedown {
    margin: 0 auto;
}
.rotate {
    margin: 10% auto;
    -webkit-transform: scale(-5,-5);
    transform: scale(-5,-5);
}
.resize {
    margin: 10% auto;
    width:0;
    height:0;
 
}
.modalmask:target .movedown{       
    margin:10% auto;
}
.modalmask:target .rotate{     
    transform: rotate(360deg) scale(1,1);
        -webkit-transform: rotate(360deg) scale(1,1);
}
.modalmask:target .resize{
    width:22vw;
    height:200px;
}
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: 25px;
    text-align: center;
    top: 20px;
    width: 24px;
    font-weight: bold;
    border-radius:3px;
}
.close i{
    font-size: 28px;
}
.close:hover {
    background: #FAAC58;
    color:#222;
}
.text-decoration-none{
    text-decoration: none;
}

.dataTables_filter{
    margin-bottom: 1vh!important;
}
@media(max-width:700px){
    .modalbox {
    width: 60vw;
    padding-top: 40px;
    }   
    .modalbox h2, .modalbox h5,
    .modalbox input{
    width: 45vw;
    margin-left: 1vw;
}
}
@media(max-width:480px){
    .botonmodal{
        width: 30vw;
    }
}